body { 
    max-width: 100%;
    background: tan;
};

.block1 {
    max-width: 900px;
    background-color: aliceblue;
    height: 200px;
    margin: 0 auto;
};

.block-sub {
    width: 200px;
};

.title {
   color: #000;

};